.grid_cards {
  display: grid;
  grid-row-gap: 2rem;
  grid-column-gap: 0.5rem;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding-bottom: 2rem;
  min-height: 100vh;
  margin-top: 1.5rem;  
}
