.container_depoimentos {
    margin-left: auto;
    margin-right: auto;
    padding: 0 .5rem;
}

@media (min-width: 1800px) {
  .container_depoimentos {
    max-width: 1700px;
  }
}

.swiper-button-prev, .swiper-rtl, .swiper-button-next {
  color: #F280AA ;
}


