@import "../../theme/Base.module";
@import "../../theme/variaveis";

.container_conteudo {
  max-width: 800px;
  margin: 1rem auto;
  padding: 0 0.8rem;

  img {
    max-width: 100%;
    object-fit: cover;
  }

  strong,
  h1,
  h2,
  h3 {
    color: $rosa;
  }

  p {
    color: $dark;
  }
}
