@import "theme/Tema.module.scss";

.card {
  img {
    width: 180px;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  padding: 0.5rem;
  width: 280px;


  background-color: #fff;
  border: 1px solid $laranja;
  text-align: center;
  min-height: 380px;
  border-radius: 12px;
  font-size: 1rem;

  &__tag_desconto {
    background-color: #7cb342;
    color: #fff;
    padding: 0.7rem;
    border-radius: 30px;
    width: fit-content;
  }

  &__nome {
    font-size: 1rem;
    color: $dark;
    font-weight: normal;
  }

  &__precoDe {
    font-size: 0.9rem;
    margin-bottom: 0;
    text-decoration: line-through;
  }

  &__precoPor {
    margin-top: 0.2rem;

    span {
      color: $rosa;
      font-weight: bold;
      font-size: 1.8rem;
    }
  }

  p:last-child {
    font-size: 1rem;
  }

  &:hover {
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    transform: scale(1.02);
  }
}
