@import "theme/base.module";

.container_produto {
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
  border-radius: 28px;
  background-color: #fff;
  margin-bottom: 3rem;

  img {
    max-width: 100%;
  }

  .mySwiper {
    flex-basis: 50%;
    @media (max-width: 800px) {
      width: 100%;
    }
  }

  &__detalhes_produto {
    flex-basis: 50%;
  }

  &__codigo,
  &__opcoes_pagamento {
    font-size: 1rem;
  }

  &__price {
    text-decoration: line-through;
  }

  &__promocional_price {
    @extend .titulo_h2;
    font-weight: bold;
  }

  @media (max-width: 800px) {
    flex-direction: column;
    text-align: center;
  }
}

.descricao {
  strong,
  h2,
  h2 span,
  b,
  p span strong span,
  p strong span {
    color: $rosa !important;
  }

  p {
    color: $dark !important;
  }

  table {
    border: 3px solid $laranja;
    border-radius: 12px;
    padding: 0.5rem;

    & tbody tr:nth-child(odd) {
      background-color: $laranja;
    }

    & tr,
    td {
      padding: 0.5rem;
      border-radius: 0px;
    }
  }
}

.box_whatsapp {
  h3 {
    font-size: 2rem;
    color: $dark;
  }

  a {
    text-decoration: none;
  }

  p {
    background-color: #128c7e;
    color: #fff;
    padding: 1rem;
    border-radius: 12px;
    width: fit-content;

    &:hover {
      transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
      cursor: pointer;
      transform: scale(1.02);
    }
  }
}
