// Cores
$dark: #46474B;
$amarelo: #FFC048;
$laranja_claro: #FFF8F0;
$laranja: #FFE5D0;
$rosa: #F280AA;


//fontSize
$h1_desktop: 3.8rem;
$h1_mobile: 2.4rem;

$h2_desktop: 3rem;
$h2_mobile: 1.9rem;

$h3_desktop: 2.3rem;
$h3_mobile: 1.5rem;



