// Cores
$dark: #46474B;
$amarelo: #FFC048;
$laranja_claro: #FFF8F0;
$laranja: #FFE5D0;
$rosa: #F280AA;


//fontSize Base Value: 18 Scale: 1.25

$h1_desktop: 3.833rem;
$h1_mobile: 2.444rem;

$h2_desktop: calc($h1_desktop / 1.25);
$h2_mobile: calc($h1_mobile / 1.25);

$h3_desktop: calc($h2_desktop / 1.25);
$h3_mobile: calc($h2_mobile / 1.25);



