.body {
  min-height: 100vh;
  background-image: url("../../assets/imagens/background-modal-calculadora.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff8f0;
}
